/* Partners.css */




.partners {
  background-color: #ff6600;
  color: white;
  padding: 40px 0;
  text-align: center;
  width: 100%;
  
}

.partners h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.partner-logos img {
  width: 150px;
  margin: 0 15px;
}

@media (max-width: 768px) {
  .partner-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partner-logos img {
    margin-bottom: 20px;
  }
}
